*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  background: rgb(252, 252, 252);

}
header{
  background: url("images/banner3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 450px;


}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 70px;
  margin: 0 auto;
}
nav .app_link a{
  text-decoration: none;
  color: white;
  font-weight: 550;
  font-size: 1rem;

}
nav .nav_items ul{
  display: flex;
  align-items: center;
  list-style: none;
}
nav .nav_items ul li a{
  text-decoration: none;
  color: white;
  margin: 0 20px;
  font-size: 1.2rem;
  font-weight: lighter;

}
.content_wrapper{
  color: white;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;


}
.content_wrapper img{
  width: 300px;
  height: 60px;
  border-radius: 3px;

}
.content_wrapper h1{
  font-size: 2.2rem;
  font-weight: 100;
  margin: 30px 0;
  letter-spacing: 2px;
}
.content_wrapper h1 span{
  font-weight: 700;
}
.search_container{
  display: flex;
  align-items: center;
  background: white;
  height: 3.4rem;
  width: 55%;
  border-radius: 8px;


}
.search_container .left_search, .search_container .right_search{
  display: inline-flex;
  padding: 0 1rem;

}
.search_container .left_search{
  width: 30%;
  border-right: 2px solid gray;
}
.search_container .right_search{
  width: 70%;
}
.search_container input{
  border: 0;
  outline: none;
  font-size: 1rem;
  background: transparent;
  color: gray;
  width: 100%;
  margin-left: 6px;
}
.search_container .left_search i{
  color: rgb(227, 76, 76);
  font-size: 20px;
}
.search_container .right_search i{
  color: gray;
  font-size: 20px;
}
/*order section...........*/
.order-section{
  width: 85%;
  margin: 0 auto;
  text-align: center;

}
.order-section .order{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 40px;

}
.order .card{
  width: 30%;
  margin: 12px;
  border-radius: 8px;
  border: 1px solid gray;
  transition: transform 0.5s;
  position: relative;


}
.order .card a img{
  width: 100%;
  height: 200px;
  border-radius: 8px;
  top: 0;
  left: 0;


}

.order .card:hover{
  transform: scale(1.1);


}
.order .card .content{
  text-align: left;
  width: 100%;
  padding: 0 12px;
  position: absolute;
  bottom: 0;
  background: white;
  border-radius: 8px;
}
.order .card .content .heading{
  font-size: 1rem;
  margin: 10px 0;

}
.order .card .content .text{
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.menu-icon{
  color: white;
  font-size: 30px;
  display: none;
}

/*--Collections section*/

.collections{
  width: 85%;
  margin: 90px auto;
  text-align: center;

}
.collections h1{
  text-align: left;
  font-size: 2.1rem;
  font-weight: lighter;
  margin-bottom: 20px;
}
.collections p{
  text-align: left;
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 20px;
}
.collection-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
  


}
.collection-card .card{
  width: 280px;
  height: 320px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  margin: 12px 0;

}
.collection-card .card img{
  width: 100%;
  height: 97%;
  background: linear-gradient(form bottom, rgb(82, 77, 77), rgb(126, 124, 124),white);
  



}
.collection-card .card .content{
  position: absolute;
  bottom: 0;
  width: 100%;

}
.collection-card .card .content p{
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 5px 9px;


}
/*popular location*/
.collections h1 span{
  color: rgb(100, 99, 99);
  font-weight: lighter;

}
.popular-location{
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
}
.popular-location .box{
  width: 30%;
  background: white;
  border: 1px solid gray;
  margin: 10px 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
}
.popular-location .box a{
  text-decoration: none;
  color: gray;
  font-weight: 0;
}
.popular-location .box p{
  margin: 0;
}
.popular-location .box .city{
  font-size: 20px;
  letter-spacing: 1px;

}
.popular-location .box .places{
  font-size: 16px;
  padding: 8px 0;

}
.popular-location .box i{
  color: gray;
}

/*app section*/
.app-section{
  width: 100%;
  background: wheat;
  padding: 60px 0;
}
.app{
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
  
}
.app .app-image{
  width: 30%;
  padding-top: 50px;
}
.app .app-image img{
  width: 100%;
}
.app .get-app{
  width: 60%;
  padding: 0 20px;

}
.app .get-app h2{
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 25px;
}
.app .get-app p{
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 30px;
}
.app .get-app .email-phone input{
  margin-bottom: 30px;
}
.app .get-app .email-phone input[type="radio"]{
  accent-color: rgb(231, 9, 46);
}
.submit{
  display: flex;
  align-items: center;
  justify-content: space-between;
  

}
.submit input{
  width: 60%;
  padding: 15px 8px;
  border: 0;
  outline: none;
  border: 1px solid gray;
  border-radius: 7px;
  font-size: 1rem;
}
.submit button{
  padding: 15px 8px;
  background: rgb(203, 45, 72);
  border: 0;
  outline: none;
  border-radius: 7px;
  font-size: 1.1rem;
  color: white;
  

}
.app-store{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 50px;


}
.app-store img{
  width: 150px;
  

}

/*Explore*/
.option{
  background: white;
  width: 100%;
  border: 0;
  outline: none;
  border:  1px solid gray;
  text-align: left;
  padding: 22px 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: gray;

}
.option button{
  background: 0;
  border: 0;
  font-size: 1.1rem;
}
/*footer section*/
.footer{
  width: 100%;
  background: rgb(147, 135, 114);

}
.footer .container{
  width: 90%;
  margin: 0 auto;
  padding: 50px 20px;
}
.footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-top img{
  width: 140px;
  height: 70px;
}
.footer-top .footer-btn button{
  padding: 10px 30px;
  border: 0;
  outline: none;
  border: 1px solid gray;
  font-size: 16px;
  margin: 0 6px;
  border-radius: 8px;

}
.footer-links{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-links .column{
  margin: 50px 12px;
}
.footer-links .column .col-links{
  list-style: none;
  margin-top: 16px;
}
.footer-links .column .col-links li{
  margin: 10px 0;
}
.footer-links .column .col-links li a{
  text-decoration: none;
  color: rgb(11, 10, 10);
  font-size: 16px;
}
.footer-links .column div{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}
.col-links a i{
  padding: 6px;
  color: rgb(40, 37, 37);
  border-radius: 50%;
  margin-bottom: 20px;
  font-size: 15px;


}
.col-links li img{
  width: 130px;
}

/*responsive design*/
@media only screen and (max-width:500px){
  .menu-icon{
    display: block;
  }
  nav .app_link a, nav .nav_items ul{
    display: none;
  }
  .content_wrapper h1{
    font-size: 1.5rem;

  }
  .content_wrapper img{
    width: 250px;
  }
  .collection-card .card{
    width: 100%;
    margin:  20px;
    margin-left: 10px;


  }
  .popular-location .box{
    width: 100%;
  }
  .app{
    flex-direction: column;
  }
  .app .app-image .app .get-app{
    width: 100%;

  }
  .app .submit input, .app .submit button{

    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .app-store {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

  }
  .app-store img{
    width: 100px;

  }




}
/*--Collections section*/